services:
  backend:
    build: ./backend
    environment:
      LOGGER_LEVEL: 20
      DATABASE_URL: postgresql://appmedica:appmedica@postgres:5432/appmedica
      IMAP_SERVER: ${IMAP_SERVER}
      IMAP_PORT: ${IMAP_PORT}
      EMAIL_ACCOUNT: ${EMAIL_ACCOUNT}
      EMAIL_APP_PASSWORD: ${EMAIL_APP_PASSWORD}

    # Temporary for development, remove later
    ports:
      - "8000:8000"

    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: appmedica
      POSTGRES_PASSWORD: appmedica
      POSTGRES_DB: appmedica

    # Temporary for development, remove later
    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD", "pg_isready", "-U", "appmedica"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 3s

volumes:
  postgres_data:
    driver: local
