services:
  frontend:
    build: ./frontend

    ports:
      - "3000:80"

    depends_on:
      backend:
        condition: service_healthy

  backend:
    build: ./backend
    environment:
      LOGGER_LEVEL: 20
      DATABASE_URL: postgresql://appmedica:appmedica@postgres:5432/appmedica
      CORS_ALLOWED_ORIGINS: http://localhost:3000
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      IMAP_SERVER: ${IMAP_SERVER}
      IMAP_PORT: ${IMAP_PORT}
      EMAIL_ACCOUNT: ${EMAIL_ACCOUNT}
      EMAIL_APP_PASSWORD: ${EMAIL_APP_PASSWORD}

    ports:
      - "8000:8000"

    healthcheck:
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 3s

    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: appmedica
      POSTGRES_PASSWORD: appmedica
      POSTGRES_DB: appmedica

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD", "pg_isready", "-U", "appmedica"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 3s

volumes:
  postgres_data:
    driver: local
